/* CSS Reset */
* {
    margin: 0px;
    padding: 0px;
}

/* Header */
.header {
    background-color: rgb(38, 108, 173);
    align-content: center;
    color: white;
}

/* Body */
body {
    background-color: white;
}

/* Buttons */
.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.buttons > * {
    margin: 10px;
    opacity: 0.85;
}

.button {
    cursor: pointer;
}

.button:hover {
    opacity: 1;
}

.slider {
    -webkit-appearance: none;
    width: 125px;
    height: 15px;
    border-radius: 10px;
    background: rgb(154, 197, 154);
    cursor: pointer;
    opacity: 0.85;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 25px;
    height: 15px;
    border-radius: 10px;
    background: rgb(67, 56, 129);
}

/* Grid */
.grid {
    display: grid;
    height: calc(100vh - 150px);
    padding: 10px;
}

.potentialCell {
    background-color: rgb(207, 207, 207);
    border: 1px solid rgb(117, 117, 117);
    cursor: pointer;
    opacity: 0.85;
}

.potentialCell {
    opacity: 1;
}

.cellAlive {
    background-color: rgb(83, 96, 153);
}

/* Footer */
.footer {
    background-color: rgb(61, 127, 189);
    text-align: center;
    color: white;
    position: absolute;
    width: 100%;
    bottom: 0px;
}